@font-face {
	font-family: Roboto
	font-weight:400;
	src: url (../fonts/roboto/roboto-regular.ttf);
}

@font-face{
	font-family: Copperplate;
	font-weight: 400;
	src: url(../fonts/Copperplate.ttf);
}
