body {
	background-color: #eee;
}

.import {
	position: absolute;
	top:40%;
	left: 50%;
	margin-top:-75px;
	margin-left: -200px;
    width: 400px;
    height: 150px;
	background-color: #fff;
	border:1px solid #ddd; 
	border-radius: 2px;

}

.import__form {
	width: 300px;
	margin: 0 auto;
	padding-top: 30px;
}

.import__fileBtn {
	
}

.import__sendBtn {
	margin-top:30px;
}

.import__statusMsg {
	text-align: center;
	margin-top: 40px;
}

.import__backBtn {
    display: block;
    width: 200px;
    height: 33px;
    line-height: 30px;
    background-color: #318eec;
    text-align: center;
    color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
}

