$mainabout_size1: "only screen and (max-width : 880px)";

.main-about {
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    padding-bottom: 50px;
    max-width: 1200px;

    @media #{$mainabout_size1} {
		padding: 0 20px;
    }

	&__text {
		font-family: "Roboto";
		font-weight: 400;
		font-size: 17px;
		text-indent: 20px;
		color: #444;
	    margin: 10px 0;

	    @media #{$mainabout_size1} {
			text-align: justify;
		    font-size: 15px;
	    }
	}

	&__list-title {
	    font-family: "Roboto";
	    font-weight: 700;
	    font-size: 22px;
	    color: #444;
	    margin-top: 26px;

	    @media #{$mainabout_size1} {
			font-size: 19px;
	    }
	}

	&__list {
	    margin-top: 5px;
	    padding-left: 20px;
	    margin-bottom: 25px;
	}

	&__list-item {
	    font-family: "Roboto";
	    font-weight: 400;
	    font-size: 17px;
	    color: #444;
	    line-height: 25px;

	    @media #{$mainabout_size1} {
			margin: 14px 0;
		    font-size: 15px;
	    }
	}

	&__colorname {
		color: #07354a;
	    font-weight: 700;
	}

}
