$maincat_size1: "only screen and (max-width : 1220px)";
$maincat_size2: "only screen and (max-width : 1000px)";
$maincat_size3: "only screen and (max-width : 970px)";
$maincat_size4: "only screen and (max-width : 880px)";
$maincat_size5: "only screen and (max-width : 625px)";
$maincat_size6: "only screen and (max-width : 583px)";
$maincat_size7: "only screen and (max-width : 430px)";
$maincat_size8: "only screen and (max-width : 365px)";

.maincat{
    padding-top: 50px;
    padding-bottom: 50px;

    &__head{
		@media #{$maincat_size1} {
			padding-right: 25px;
		    padding-left: 40px;
			margin-bottom: 30px;
		}
		
		@media #{$maincat_size5} {
			padding-right: 28px;
		    padding-left: 28px;
		    ;
		}
    }

	&__title{
		color: #3f3f3f;
		font-family: Roboto;
		font-size: 49px;
		font-weight: 300;
		display: inline-block;
		vertical-align: top;
	    margin-bottom: 20px;

	    @media #{$maincat_size5} {
	    	font-size: 44px;
	    }
	    @media #{$maincat_size6} {
		    font-size: 30px;
		    margin-bottom: 0;
		}
		@media #{$maincat_size8} {
	        font-size: 26px;
		}
	}

	&__input{
		display: inline-block;
		vertical-align: top;
        float: right;
	    margin-top: 8px;   

	    @media #{$maincat_size2} {
			display: block;
			float: none;
		}

	}

	&__input-element{
		width: 324px;
		line-height: 36px;
		border: 1px solid #c4c4c4;
		background-color: #f2f2f2;
		color: #6d6d6d;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 300;
	    padding-left: 11px;

	    @media #{$maincat_size6} {
	    	width: 247px;

	    }
	    @media #{$maincat_size8} {
		    width: 216px;		    
		}
	        
	}

	&__input-button{
		background-image: url(../img/maincat/loop.png);
		background-position: 10px 10px;
		background-repeat: no-repeat;
		width: 42px;
		height: 40px;
		background-color: #4d67ac;
		display: inline-block;
		vertical-align: top;
		border:none;

	    @media #{$maincat_size8} {
		    
		}
}

	&__button{
		width: 500px;
		line-height: 61px;
		background-color: #076d9d;
		color: #ffffff;
		font-family: Roboto;
		font-size: 24px;
		font-weight: 700;
		display: block;
		margin: 0 auto;
	    margin-top: 70px;
	    text-align: center;
	    text-decoration: none;

		&:hover {
			background-color: #00557d;
		}

	    @media #{$maincat_size6} {
			width: 90%;
		}
		@media #{$maincat_size6} {
			font-size: 21px;
		}

	}

}

.maincat-inner{
	width: 1200px;
	margin: 0 auto;

	@media #{$maincat_size1} {
		width: 100%;
	}
}

.maincat-items {
    @media #{$maincat_size1} {
    text-align: center;
   }
}



.maincat-item{
	width: 275px;
	box-shadow: 0 0 11px 2px rgba(181, 181, 181, 0.18);
	border: 1px solid #c4c4c4;
	background-color: #ffffff;
	display: inline-block;
	vertical-align: top;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 13px;
    padding-bottom:13px;
    margin-left: 11px;
    margin-right: 11px;
    margin-top: 35px;

    @media #{$maincat_size1} {
		text-align: left;
	    margin-left: 2%;
	    margin-right: 2%;
	}

	@media #{$maincat_size3} {
	    margin-left: 0.5%;
	    margin-right: 0.5%;
    }
    @media #{$maincat_size4} {
		margin-left: 2%;
	    margin-right: 2%;
	}
	@media #{$maincat_size5} {
		margin-left: 0.2%;
	    margin-right: 0.2%;
	    margin-top: 7px;
	}
    @media #{$maincat_size6} {
		width: 80%;
	    padding-left: 28px;
	    padding-right: 28px;
	}    
	@media #{$maincat_size7} {
		width: 100%;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border: none;
	    border-bottom: 1px solid #c4c4c4;
        margin-left: 0;
	    margin-right: 0;
	}

	
	&__img{
		width: 240px;

		@media #{$maincat_size6} {
			margin: 0 auto;
		    display: block;
		    width: 100%;
		    margin-bottom: 35px;
			margin-top: 20px;
		}
	}

	&__name{
		display: block;
		color: #3d3d3d;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 700;
		width: 240px;
	    margin-top: 9px;
	    text-decoration: none;

	    @media #{$maincat_size6} {
			width: 100%;
		}
    }

	&__values{
		height:132px;

		@media #{$maincat_size6} {
			
		}
	}

	&__values-line{
		margin-top: 10px;

	}

	&__values-element{
		color: #727070;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;
		width: 105px;
	}

	&__values-element2{
		color: #000000;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 400;
		display: inline-block;
		vertical-align: top;

		@media #{$maincat_size6} {
			float: right;
		}
	}

	&__price{
	    margin-top: 34px;
	    margin-left: 6px;
	}

	&__price-element{
	    color: #3d3d3d;
	    font-family: Roboto;
	    font-size: 18px;
	    font-weight: 700;
	    display: inline-block;
	    vertical-align: top;
	}

	&__price-button{
		width: 126px;
	    line-height: 30px;
	    background-color: #ff0c00;
	    color: #ffffff;
	    font-family: Roboto;
	    font-size: 18px;
	    font-weight: 700;
	    display: inline-block;
	    vertical-align: top;
	    margin-left: 26px;
	    padding-top: 2px;
	    text-align: center;
	    float: right;

	    &:hover {
	    	cursor: pointer;
	    	background-color: #a10800;
	    }
	}
}