$slider_size1: "only screen and (max-width : 990px)";
$slider_size2: "only screen and (max-width : 420px)";

$slide1_size1: "only screen and (max-width : 1140px)";
$slide1_size2: "only screen and (max-width : 990px)";
$slide1_size3: "only screen and (max-width : 736px)";
$slide1_size4: "only screen and (max-width : 470px)";
$slide1_size5: "only screen and (max-width : 420px)";

$slide2_size1: "only screen and (max-width : 1140px)";
$slide2_size2: "only screen and (max-width : 990px)";
$slide2_size3: "only screen and (max-width : 736px)";
$slide2_size4: "only screen and (max-width : 470px)";
$slide2_size5: "only screen and (max-width : 420px)";

.slider{
  position:relative;

  .slick-list {
    overflow:hidden;
  }

  &__dots {
    position: absolute;
    bottom: 10px;
    right: 50%;
    margin-right: -26px;
    z-index: 1000;
 

    li {
      display: inline-block;
      vertical-align: top;
      margin: 0 6px;
      width: 14px;
      height: 14px;
      border-radius: 7px;
      background-color: #919191;      
    }

    .slick-active {
      background-color:#ffffff;
    }

    button {
      display: none;
    }
  }
  
}

.slide {
  display: inline-block;
  vertical-align: top;
  background-position: top center;
  background-repeat: no-repeat;
  height: 432px;
  position: relative;

  @media #{$slider_size1} {
    height: 310px;
  }

  @media #{$slider_size2} {
    height: 240px;
  }

  &_1 {
    background-image:url(../img/slider/slide1.jpg);    

    @media #{$slide1_size1} {
      background-position: -328px 0;
    }

    @media #{$slide1_size2} {
      background-position: -603px 0px;
    }

    @media #{$slide1_size3} {
      background-position: top center;
      background-image:url(../img/slider/slide1-750.jpg);
    }

    @media #{$slide1_size5} {
      background-image:url(../img/slider/slide1-500-v2.jpg);
    }    
  }

  &_2 {
    background-image:url(../img/slider/slide2.jpg);    

    @media #{$slide2_size1} {
      background-position: -382px 0;
    }   

    @media #{$slide2_size2} {
      background-position: top center;
      background-image:url(../img/slider/slide2-900.jpg);  
    }

    @media #{$slide2_size3} {
      background-image:url(../img/slider/slide2-750-v3.jpg);  
    }

    @media #{$slide1_size5} {
      background-image:url(../img/slider/slide2-500-v2.jpg);
    } 
  }

  &__text{
    color: #fefefe;
    font-family: Copperplate;
    font-size: 51px;
    font-weight: 400;
    position: absolute;
    text-shadow: 1px 1px 8px black;

    &_1 {
      left: 50%;
      margin-left: -556px;
      top: 147px;
      

      @media #{$slide1_size1} {
        font-size: 40px;
        margin-left: -44%;
      }

      @media #{$slide1_size2} {
        top: 14px;
        font-size: 37px;
      }

      @media #{$slide1_size3} {
        margin-left: -205px;
        top: 36px;
      }

      @media #{$slide1_size4} {
        font-size: 30px;
        margin-left: -174px;
      }

      @media #{$slide1_size5} {
        font-size: 26px;
        margin-left: -144px;
        top: 26px;
      }
    }

    &_2 {
      left: 50%;
      margin-left: -556px;
      top: 147px;

      @media #{$slide2_size1} {
        font-size: 40px;
        margin-left: -44%;
      }

      @media #{$slide2_size2} {
        top: 70px;
        font-size: 37px;
      }

      @media #{$slide2_size3} {
        margin-left: -205px;
        top: 36px;
      }

      @media #{$slide1_size4} {
        font-size: 30px;
        margin-left: -174px;
      }

      @media #{$slide1_size5} {
        font-size: 26px;
        margin-left: -144px;
        top: 26px;
      }
    }  
  }


}